@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Monserrat', sans-serif;
    color: #414346;
}




/*-------------------------------Navigation------------------------------*/


.navbar {
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}
.navbar-brand img {
    height: 2.7rem;
}
.nav-item {
    padding: 0.5rem;
}
.nav-link: {
    color: #5b5555!important;
}
.nav-link.active, 
.nav-link:hover {
    color: #9ecaa4!important;
}








/*----------------------------- Background Image--------------------*/

.main-banner-image {
    height: 600px;
}

.image-fluid {
    height: auto;
    max-width: 100%;
    overflow: hidden;    
}



/*---------------------------------Jumbotron-----------------------------*/

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.lead {
    margin-top: 1.4rem;
}

.bg-plan {
    background: url(../../assets/images/citrus.jpg) no-repeat center center;
    background-size: cover;
    min-width: 100%;
    height: auto;
}
.jumbotron-leftovers {
    background: url(../../assets/images/leftovers.jpg) no-repeat center center;
    background-size: cover;
    min-width: 100%;
    height: 400px;
    color: white;
}
}

/*-------------------------------Contact form--------------------------------*/


.main-section {
    margin: 0 auto;
    margin-top: 9rem;
    margin-bottom: 6rem;
    padding: 0;
}
.modal-content {
    background-color: #a1e2aa;
    opacity: 0.85;
    padding: 0 1rem;

}
.form-group {
    margin-bottom: 1.5rem;
}
.contact-background {   
    background: url(../../assets/images/contact.jpg) no-repeat center center fixed;
    background-size: cover;
    height: auto;
    min-width: 100%;      
}



/*--------------------------------Callout----------------------------------*/

.padding {
    padding-bottom: 1.5rem;
}

.callout {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.callout hr {
    border-top: 2px solid #9ecaa4;
    width: 60%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}



/*-------------------------------Fa-facts---------------------------------*/


.fa-drumstick-bite, .fa-pound-sign, .fa-shopping-basket, .fa-burn, .fa-utensils {
    color: white;
    font-size: 54px;
    margin: 1rem;
}

.bg-custom {
    color: white;
    background-color: #4ab169;
}



/*-----------------------------Three Columns-------------------------------*/





/*-----------------------------------Contact Form-------------------------*/









/*------------------------------------Footer-------------------------------*/

footer {
    background-color: #808080; 
}
footer a {
    color: white;
    text-decoration: none;
}
ul.social {
    list-style-type: none;
    display: flex; 
    max-width: 16rem;   
    margin: 0 auto;
    padding: 0;
}
ul.social li {
    margin: 0 auto;
}
ul.social li a i {
    font-size: 2rem;
    color: white;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.social li a i:hover {
    color: #a8c7af;
}


/*------------------------------------Socket-------------------------------*/

.socket {
    background-color: #606060;
    border-top: 1px solid #9ecaa4;
}
.socket p, a {
    color: white;
}
.socket p, a:hover {
    color: #a8c7af;
}



/*----------------------------------try-----------------------*/


